@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

img {
  height: auto;
  cursor: pointer;
  margin: 10px;
}

.charity-container {
  border-radius: 16px;
  color: #ffffff;
  background: radial-gradient(circle at top, #4f2ee8, rgba(93, 53, 202, 0.386));
  overflow: hidden;
  position: relative;
  padding: 28px 40px 20px 40px;
}

.charity-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 20px;
  filter: brightness(0) invert(1);
}
.charity-item p {
  display: none;
}
.charity-item img {
  margin-left: 20px;
  max-width: 131px;
  max-height: 32px;
}

.titl {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.herb {
  fill: #ffffff;
  width: 20px;
  height: 32px;
  margin-left: 20px;
}

.herb-container {
  margin-right: 20px;
}

.charity-slider {
  height: 292px;
  overflow: hidden;
  position: relative;
  margin-bottom: 72px;
}
.charity-slider .slider {
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.arrow-container {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow-container .arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: #111111;
  transition: transform 0.3s ease-in-out;
  position: relative;
  transform-origin: center;
}
.arrow-container .arrow:hover {
  transform: scale(1.2);
}
.arrow-container .arrow.up {
  transform: scaleY(-1);
}

.container_home {
  max-width: 335px;
  max-height: 460px;
}
@media screen and (min-width: 1440px) {
  .container_home {
    max-width: 356px;
    max-height: 474px;
  }
}

.home_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .home_block {
    flex-direction: row;
  }
}

.side {
  width: 100%;
  max-width: 335px;
}
@media screen and (min-width: 1440px) {
  .side {
    max-width: 357px;
  }
}
.home_gallery {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.card img {
  width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
}
body .categories-container {
  margin-bottom: 40px;
  overflow-y: auto;
  width: 100%;
  max-height: 228px;
  padding: 10px;
  max-width: 335px;
}
@media screen and (min-width: 1440px) {
  body .categories-container {
    max-width: 328px;
    max-height: 472px;
    margin-bottom: 86px;
  }
}
body .category-title-container {
  background-color: #4f2ee8;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
body .category-title-container .category-title {
  color: white;
  font-size: 18px;
}
body .category-title-container .category-title-last-word {
  color: #4f2ee8;
}
body .category-header {
  width: 382px;
  height: 52px;
  top: 112px;
  left: 420px;
}
body .category-header-black {
  font-family: DM Sans;
  text-align: left;
  color: black;
  letter-spacing: -1.28px;
  line-height: 38px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  body .category-header-black {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}
body .category-header-last-word {
  font-family: DM Sans;
  text-align: left;
  letter-spacing: -1.28px;
  line-height: 38px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #4f2ee8;
}
@media screen and (min-width: 1440px) {
  body .category-header-last-word {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}
body .category-item {
  margin-bottom: 32px;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
body .category-item:hover, body .category-item:focus {
  color: #4f2ee8;
  font-weight: bold;
}
body .category-item.active {
  color: #4f2ee8;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}
body .categories-container::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}
body .categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}
body .categories-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}
body .all-categories-header {
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}
body .books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  transition: opacity 0.5s ease;
}
body .books-container .category-title-container {
  display: none;
  margin-bottom: 20px;
}
body .books-container .category-title-container .category-title-last-word {
  color: #4f2ee8;
}
body .book-card {
  text-align: center;
  max-width: 335px;
}
@media screen and (min-width: 1440px) {
  body .book-card {
    max-width: 180px;
  }
}
body .book-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0;
  max-height: 485px;
}
@media screen and (min-width: 1440px) {
  body .book-card img {
    max-height: 256px;
  }
}
body .book-card .book-details {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
body .book-card .book-details h3 {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: -0.64px;
}
body .book-card .book-details p {
  color: #B4AFAF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: -0.48px;
}
body .popular-categories-container {
  display: none;
  margin-top: 20px;
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.section-shopping-list {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 40px;
  background-color: var(--backgroundColor);
}

.main-title-shoplist-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap-support {
  display: none;
}

.title-shoplist {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
  font-weight: 700;
  color: #111;
  margin-top: 40px;
  margin-left: 20px;
}

.acсent-shoplist {
  color: #4f2ee8;
}

.empty-list {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  text-align: center;
}

.empty-message {
  font-weight: 400;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.29;
  letter-spacing: -0.28px;
}

.shopping-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shoplist-item {
  position: relative;
  display: block;
  max-width: 335px;
  height: 170px;
  padding: 14px;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: #ffffff;
}

.delate-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: var(--violetColor);
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  transition: transform; /* ta linijka zostaje */
}

.delate-btn:hover,
.delate-btn:focus {
  transform: scale(1.2);
}

.img-shoplist-card {
  border-radius: 8px;
}

.card-shopplist {
  max-width: 193px;
  min-width: 100px;
}

.card-title-shoplist {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  max-width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-category-shoplist {
  font-size: 12px;
  font-weight: 400;
  color: var(--fontLightCategories);
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  max-width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-description-shoplist {
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.wrapper-card-shoplist-footer {
  max-width: 193px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card-author-shoplist {
  margin-right: auto;
  max-width: 97px;
  color: var(--fontLightCategories);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shops-list {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 80px;
  padding-bottom: 5px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: auto;
  stroke: var(--black);
}

.shops-list::-webkit-scrollbar {
  height: 6px;
}

.shops-list::-webkit-scrollbar-thumb {
  background-color: rgb(196, 190, 190);
}

.shop-item {
  background-color: transparent;
  filter: 0%;
}

.shop-item img:is(:hover, :focus) {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.shop-link-image {
  display: block;
  text-align: center;
}

.shop-link-image img {
  margin: 0;
  max-width: 35px;
  height: auto;
}

/* PAGINACJAAA*/
.container-pagination {
  display: none;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.arrow-left {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
}

.arrow-right {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #eac645;
  cursor: pointer;
}

.pagination-list {
  margin-right: 14px;
  padding-left: 14px;
}

.pagination-list .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #111;
  cursor: pointer;
}

.link:nth-child(3) {
  display: none;
}

.pagination-list .link.active {
  color: #fff;
  background-color: #111;
}

.link {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.arrows-left-icon {
  fill: #b4afaf;
  margin-top: 4px;
}

.arrows-right-icon {
  fill: #111;
  margin-top: 4px;
}

.arrow-double-left {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #111;
  margin-right: 5px;
  cursor: pointer;
}

.arrow-double-left .fa {
  font-size: 22px;
  color: #b4afaf;
}

.arrow-double-right .fa {
  color: #111;
  font-size: 22px;
}

.arrow-double-right {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #eac645;
  margin-left: 5px;
  cursor: pointer;
}

/* +++++++++++ Tablet ++++++++++++ */
@media screen and (min-width: 768px) {
  .section-shopping-list {
    margin-top: 64px;
  }
  .title-shoplist {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .empty-list {
    margin-top: 140px;
    width: 349px;
  }
  .empty-message {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .shopplist-item {
    max-width: 704px;
    height: 213px;
    padding: 24px;
    gap: 24px;
  }
  .delate-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
    background-color: var(--violetColor);
    border-radius: 34px;
  }
  .card-shopplist {
    max-width: 508px;
  }
  .card-title-shoplist {
    max-width: 450px;
  }
  .card-category-shoplist {
    margin-bottom: 14px;
    max-width: 450px;
  }
  .card-description-shoplist {
    margin-bottom: 32px;
    letter-spacing: -0.56px;
    min-width: 508px;
    max-height: 53px;
  }
  .wrapper-card-shoplist-footer {
    max-width: 508px;
  }
  .card-author-shoplist {
    max-width: 100%;
  }
  .shops-list {
    gap: 16px;
    max-width: 100%;
  }
  .shop-link-image img {
    max-width: 48px;
    max-height: 28px;
  }
  .container-pagination {
    margin-top: 40px;
  }
}
/* +++++++++++ Desktop ++++++++++++ */
@media screen and (min-width: 1440px) {
  .section-shopping-list {
    margin-top: 75px;
  }
  .container-shopping-list {
    display: flex;
    justify-content: space-between;
  }
  .wrap-support {
    display: block;
  }
  .container-shoplist {
    width: 996px;
  }
  .shopplist-item {
    max-width: 996px;
  }
  .delate-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 34px;
  }
  .card-shopplist {
    max-width: 808px;
  }
  .card-title-shoplist {
    max-width: 760px;
  }
  .card-category-shoplist {
    max-width: 760px;
  }
  .card-description-shoplist {
    min-width: 808px;
  }
  .wrapper-card-shoplist-footer {
    max-width: 808px;
  }
  .container-pagination {
    margin-top: 40px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.page-header {
  max-width: 1440px;
  margin: auto;
  padding: 0 24px;
  height: 72px;
  border-radius: 0 0 8px 8px;
  border: 1.5px solid #111111;
  display: flex;
  margin-bottom: 40px;
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.page-header__logo {
  display: flex;
  align-items: center;
}

.logo-and-nav {
  display: flex;
  gap: 92px;
}

.nav {
  align-self: center;
  display: flex;
  gap: 40px;
}

.nav__item {
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

.nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav__link--active {
  color: #000000;
}
.nav__link--active::after {
  font-weight: 700;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 34px;
  border: 1px solid #eac645;
  border-radius: 36px;
  background-color: #eac645;
  pointer-events: none;
  z-index: -1;
}

.nav__icon {
  color: #000000;
  list-style: none;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -20px;
  margin-left: 20px;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 320px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.popup {
  background: rgba(17, 17, 17, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup__in {
  width: 579px;
  border-radius: 18px;
  border: 2px solid #111111;
  background: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__close {
  width: 28px;
  height: 28px;
  background: url(../images/x-close.svg), no-repeat;
  position: absolute;
  top: 24px;
  right: 24px;
}
.popup__close:hover {
  background: url(../images/x-close-violet.svg), no-repeat;
  cursor: pointer;
}
.popup__close:focus {
  background: url(../images/x-close-violet.svg), no-repeat;
}
.popup__flex {
  display: flex;
  justify-content: space-around;
}
.popup .book-info__flex {
  display: flex;
  flex-direction: column;
}
.popup .book__img {
  width: 192px;
  height: 281px;
  border-radius: 8px;
  margin: 0 24 0 0;
}
.popup .book__title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.96px;
  margin: 0;
}
.popup .book__author {
  color: #b4afaf;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 8px;
}
.popup .book__description {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.popup .trading-platform-icons {
  margin-top: 20px;
  display: inline-flex;
  gap: 20px;
  align-items: center;
}
.popup .icon-amazon {
  width: 62px;
  height: 19px;
  background: url(../images/amazon.svg), no-repeat;
  mix-blend-mode: luminosity;
}
.popup .icon-barenNobel {
  width: 33px;
  height: 32px;
  background: url(../images/baren-nobel.svg), no-repeat;
  mix-blend-mode: luminosity;
}
.popup .shopping-list-btn {
  background: #f6f6f6;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  margin-top: 40px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}
.popup .shopping-list-btn:hover {
  background: #4f2ee8;
  color: #ffffff;
}
.popup .shopping-list-btn:focus {
  background: #4f2ee8;
  color: #ffffff;
}
.popup .add-receipt {
  width: 324px;
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .popup__in {
    width: 335px;
  }
  .popup__content {
    padding: 40 24;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .popup__close {
    width: 24px;
    height: 24px;
    background: url(../images/x-close.svg), no-repeat;
    top: 12px;
    right: 12px;
  }
  .popup__close:hover {
    background: url(../images/x-close-violet.svg), no-repeat;
    cursor: pointer;
  }
  .popup__close:focus {
    background: url(../images/x-close-violet.svg), no-repeat;
  }
  .popup__flex {
    flex-direction: column;
  }
  .popup .book__img {
    width: 287px;
    height: 408px;
    margin: 0 0 14px 0;
  }
  .popup .book__title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.64px;
    margin: 0 0 4px 0;
  }
  .popup .book__author {
    font-size: 12px;
    letter-spacing: -0.48px;
    margin: 0 0 18px 0;
  }
  .popup .book__description {
    font-size: 14px;
    margin: 0 0 14px 0;
  }
  .popup .trading-platform-icons {
    margin: 0;
  }
  .popup .shopping-list-btn {
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    margin-top: 44px;
  }
  .popup .shopping-list-btn:hover {
    background: #4f2ee8;
    color: #ffffff;
  }
  .popup .shopping-list-btn:focus {
    background: #4f2ee8;
    color: #ffffff;
  }
  .popup .add-receipt {
    width: 242px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.4px;
  }
}
#buttonScrollUp {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: sticky;
  bottom: 140px;
  float: right;
  display: none;
}

#darkSwitch {
  display: flex;
  margin-left: auto;
}

.switch {
  margin-left: 700px;
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  border-radius: 200px;
  cursor: pointer;
  /* kolorystyka ściągnieta bezpośrednio z figma */
}
@media (width <= 768px) {
  .switch {
    margin-left: 101px;
  }
}
@media (width <= 375px) {
  .switch {
    margin-left: 144px;
  }
}

.switch:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: rgb(247, 247, 247);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.switch p {
  display: none;
}

.dark {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark:checked + .switch {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  /* kolorystyka ściągnieta bezpośrednio z figma */
}

.dark:checked + .switch:after {
  right: 24px;
  transform: translateX(110%);
  background: rgb(255, 255, 255), rgb(247, 247, 247);
}

.switch,
.switch:after {
  transition: 0.3s;
}

[data-theme=dark] {
  background-color: #202024;
  color: white;
}
[data-theme=dark] .nav__link {
  color: white;
}
[data-theme=dark] .category-item.active {
  color: #EAC645;
}
[data-theme=dark] .category-item:hover, [data-theme=dark] .category-item:focus {
  color: #EAC645;
}
[data-theme=dark] .category-header-black {
  color: white;
}
[data-theme=dark] .page-header {
  border: 1.5px solid white;
  background-color: #111;
}
[data-theme=dark] .categories-container::-webkit-scrollbar-thumb {
  background-color: rgba(17, 17, 17, 0.6);
}
[data-theme=dark] .categories-container {
  scrollbar-color: rgba(17, 17, 17, 0.6);
}
[data-theme=dark] .nav__icon {
  fill: white;
  color: white;
}
[data-theme=dark] .header__icon {
  fill: white;
}
[data-theme=dark] .book-details h3 {
  color: yellow;
}
[data-theme=dark] .book-details p {
  color: #B4AFAF;
}