@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
}

.page-header {
  width: 100%;
  padding: 0 24px;
  height: 72px;
  border-radius: 0 0 8px 8px;
  border: 1.5px solid #111111;
  display: flex;
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.page-header__logo {
  display: flex;
  align-items: center;
}
.page-header .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: auto;
}
.page-header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.page-header .slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 3px;
  bottom: 0;
  background: radial-gradient(rgb(79, 46, 232), rgb(255, 255, 255));
  transition: 0.4s;
  border-radius: 20px;
}
.page-header .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  top: 2px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}
.page-header input:checked + .slider {
  background-color: #4f2ee8;
}
.page-header input:focus + .slider {
  box-shadow: 0 0 1px #f6f6f6;
}
.page-header input:checked + .slider:before {
  transform: translateX(18px);
}

.nav {
  align-self: center;
  display: flex;
  gap: 10px;
}

.nav__item {
  text-decoration: none;
  list-style-type: none;
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav__link--active {
  color: #000000;
}
.nav__link--active::after {
  font-weight: 700;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 34px;
  border: 1px solid #eac645;
  border-radius: 36px;
  padding: 8px 16px;
  background-color: #eac645;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.nav__icon {
  color: #000000;
  list-style: none;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -20px;
  margin-left: 20px;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 10px;
}

.charity-container {
  border-radius: 16px;
  color: #ffffff;
  background: radial-gradient(circle at top, #4f2ee8, rgba(93, 53, 202, 0.386));
  overflow: hidden;
  position: relative;
  height: 29.625rem;
  width: 22.25rem;
}

.charity-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 20px;
}
.charity-item p {
  display: none;
}
.charity-item img {
  margin-left: 20px;
}

.charity-slider {
  padding-left: 40px;
  width: 149px;
  height: 292px;
  overflow: hidden;
  position: relative;
}
.charity-slider .slider {
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.arrow-container {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow-container .arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: #111111;
  transition: transform 0.3s ease-in-out;
  position: relative;
  transform-origin: center;
}
.arrow-container .arrow:hover {
  transform: scale(1.2);
}
.arrow-container .arrow.up {
  transform: scaleY(-1);
}

body {
  font-family: "DM Sans", sans-serif;
}

.categories-container {
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 472px;
  padding: 10px;
  max-width: 356px;
}

.category-item {
  margin-bottom: 32px;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.category-item:hover, .category-item:focus {
  color: #4f2ee8;
  font-weight: bold;
}

.category-item.active {
  color: #4f2ee8;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.categories-container::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.categories-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}

.all-categories-header {
  margin-bottom: 10px;
  cursor: pointer;
  color: #111111;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  transition: opacity 0.5s ease;
}

.book-card {
  padding: 10px;
  text-align: center;
}
.book-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.book-card .book-details {
  margin-top: 10px;
}

.popular-categories-container {
  display: none;
  margin-top: 20px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */