// colors //
$backgroundColor: #F6F6F6;
$backgroundDarkColor: #202024;
$backgroundTransparentColor: #11111166;
$black: #111111;
$fontBlack: #000000;
$fontLightList: #11111199;
$fontLightCategories: #B4AFAF;
$violetColor: #4F2EE8;
$yellowColor: #EAC645;



