// colors
$backgroundColor: #f6f6f6;
$backgroundDarkColor: #202024;
$backgroundTransparentColor: #11111166;
$black: #111111;
$fontBlack: #000000;
$fontLightList: #11111199;
$fontLightCategories: #b4afaf;
$violetColor: #4f2ee8;
$yellowColor: #eac645;

// button colors
$hoverState: $violetColor;

// font
$fontFamily: 'DM Sans', sans-serif;

// border radius
$buttonModalRadius: 40px;
$buttonSmallRadius: 18px;
$headerRadius: 0px, 0px, 8px, 8px;

//border
$defaultBorder: 2px solid;
$headerBorder: 1.5px solid;


