<header class="page-header">
  <div class="container page-header__container">
    <a class="logo" href="./index.html">
      <svg class="header__icon" width="109px" height="28px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <include src="./partials/navigation.html"></include>
    <!-- switcher -->
    <div class="switcher" id="switcher">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>

    <!-- MOBILE MENU -->
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-icon" width="28" height="28">
        <use xlink:href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
</header>
<include src="./partials/mobile-menu.html"></include>
