<header class="page-header">
  <div class="container page-header__container">
    <div class="logo-and-nav">
      <a class="logo" href="./index.html">
        <svg class="header__icon" width="109px" height="28px">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <include src="./partials/navigation.html"></include>
    </div>
    <!-- switcher -->
    <div class="switcher" id="switcher">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>

    <!-- MOBILE MENU -->
    <include src="./partials/mobile-menu.html"></include>
  </div>
</header>
