<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="header-content">
    <a class="logo" href="./index.html">
      <svg class="header__icon" width="109px" height="28px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="switcher" id="switcher">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle-close" width="20" height="20">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-menu">
    <div class="mobile__item">
      <a class="mobile__link mobile__link--active" href="./index.html">HOME</a>
    </div>
    <div class="mobile__item">
      <a class="mobile__link mobile__link--active" href="./shopping.html">
        SHOPPING LIST
        <svg class="nav__icon mobile__icon" width="20px" height="20px">
          <use href="./images/icons.svg#icon-shopping_cart"></use>
        </svg>
      </a>
    </div>
  </nav>
</div>
