<div class="popup">
  <div class="popup__in">
    <div class="popup__content">
      <div class="popup__close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
        >
          <path
            d="M21 7L7 21M7 7L21 21"
            stroke="#111111"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="popup__flex book-info book">
        <img
          class="book__img"
          src="https://storage.googleapis.com/du-prd/books/images/9781524798628.jpg"
          alt="."
        />
        <div class="book-info__flex">
          <h4 class="book__title">"DAISY JONES & THE SIX"</h4>
          <p class="book__author">"Taylor Jenkins Reid"</p>
          <p class="book__description">
            "A fictional oral history charting the rise and fall of a ’70s rock ’n’ roll band. Read
            by Jennifer Beals, Benjamin Bratt, Judy Greer and Pablo Schreiber. 9 hours, 3 minutes
            unabridged."
          </p>
          <div class="trading-platform-icons">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <button class="shopping-list-btn">Add to shopping list</button>
    </div>
  </div>
  <!-- a -->
</div>
