<div class="popup">
  <div class="popup__in">
    <div class="popup__content">
      <div class="popup__close"></div>
      <div class="popup__flex book-info book">
        <img
          class="book__img"
          src="https://storage.googleapis.com/du-prd/books/images/9781524798628.jpg"
          alt="."
        />
        <div class="book-info__flex">
          <h4 class="book__title">a</h4>
          <p class="book__author">a</p>
          <p class="book__description">a</p>
          <div class="trading-platform-icons">
            <a href="." class="icon-amazon" target="_blank"></a>
            <a href="." class="icon-barenNobel" target="_blank"></a>
          </div>
        </div>
      </div>
      <button class="shopping-list-btn">Add to shopping list</button>
      <p class="add-receipt"></p>
    </div>
  </div>
</div>
