<button class="open-popup" type="button">POPUP</button>
<div class="popup">
  <div class="popup__in">
    <div class="popup__content">
      <div class="popup__close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
        >
          <path
            d="M21 7L7 21M7 7L21 21"
            stroke="#111111"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="popup__flex book-info book">
        <img
          class="book__img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl948HlZWuG-s8A2V7o518r0d1w7aN2DW3D2M6rkmk8DUD0PaMkc7qdtBR8Uwpje7eNiA&usqp=CAU"
          alt="."
        />
        <div class="book-info__flex">
          <h4 class="book__title">HELLO BEAUTIFUL</h4>
          <p class="book__author">Ann Napolitano</p>
          <p class="book__description">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as
            he gets to the know the family of his college sweetheart.
          </p>
          <div class="trading-platform-icons">
            <div class="svg1"></div>
            <div class="svg2"></div>
          </div>
        </div>
      </div>
      <button class="shopping-list-btn">Add to shopping list</button>
    </div>
  </div>
</div>
