<div class="container-pagination is-hidden">
  <div class="pagination">
    <button class="arrow-double-left">
      <i class="fa fa-angle-double-left"></i>
    </button>

    <button class="arrow-left">
      <svg class="arrows-left-icon" width="22px" height="22px">
        <use href="./images/arrows.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <ul class="pagination-list">
      <li class="link" value="1">1</li>
      <li class="link" value="2">2</li>
      <li class="link" value="3">3</li>
      <li class="link">...</li>
    </ul>

    <button class="arrow-right">
      <svg class="arrows-right-icon" width="22px" height="22px">
        <use href="./images/arrows.svg#icon-arrow-right"></use>
      </svg>
    </button>

    <button class="arrow-double-right">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
