body {
  font-family: Arial, sans-serif;
}

.categories-container {
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 472px;
  padding: 10px;
  max-width: 356px;
}

.category-item {
  margin-bottom: 32px;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.category-item:hover,
.category-item:focus {
  color: blue;
  font-weight: bold;
}

.category-item.active {
  color: #4f2ee8;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.all-categories-header {
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  transition: opacity 0.5s ease;
}

.book-card {
  padding: 10px;
  text-align: center;
}

.popular-categories-container {
  display: none;
  margin-top: 20px;
  font-weight: bold;
}

.popup {
  display: none;
}
