* {
  margin: 0px;
  padding: 0px;
}



ul {
  list-style-type: none;
}

.body {
  font-family: 'DM Sans', sans-serif;
  color: $fontBlack;
  font-size: 14px;
  font-weight: 700;
  background-color: $backgroundColor;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
    @media screen and (min-width: 1440px) {
      padding-left: 24px;
        padding-right: 24px;
    }
};

.section-shopping-list {
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
;