.home_block {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }

  // @media screen and (min-width: 768px) {
  //
  // }
}

.side {
  width: 100%;
  max-width: 335px;

  @media screen and (min-width: 1440px) {
    // display: block;
    max-width: 357px;
  }
  @media screen and (min-width: 768px) {
    // display:flex;
  }
}
.home_gallery {
  display: inline-flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.card {
  img {
    width: 100%;
  }
}
button.see-more-button {
  width: 124px; /* Szerokość */
  height: 46px;
  background: #f6f6f6;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid;
  border-color: #4f2ee8;
  margin-top: 40px;
  margin-left: auto;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: -0.18px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: #4f2ee8;
    color: #ffffff;
  }
}
