.charity-container {
  border-radius: 16px;
  color: #ffffff;
  background: radial-gradient(circle at top, #4f2ee8, rgba(93, 53, 202, 0.386));
  overflow: hidden;
  position: relative;
  // height: 29.625rem;
  // width: 22.25rem;
  // width: 100%;
  padding: 28px 40px 20px 40px;
}

.charity-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 20px;
  filter: brightness(0) invert(1);

  p {
    display: none;
  }

  img {
    height: auto;
    cursor: pointer;
    margin: 10px;
    margin-left: 20px;
    max-width: 131px;
    max-height: 32px;
  }
}

.titl {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // padding-left: 40px;
  margin-bottom: 12px;
}

// h3 {
//   margin-right: 40px;
// }

.herb {
  fill: #ffffff;
  width: 20px;
  height: 32px;
  margin-left: 20px;
}
.herb-container {
  margin-right: 20px;
}
.charity-slider {
  height: 292px;

  // padding-left: 40px;

  height: 292px;
  // overflow: hidden;
  position: relative;
  margin-bottom: 72px;

  .slider {
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
}

.arrow-container {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;

  .arrow {
    width: 38px;
    height: 38px;
    fill: #4f2ee8;
    transition: transform 0.3s ease-in-out;
    position: relative;
    transform-origin: center;

    background-color: white;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
    }

    &:not(.up) {
      transform: scaleY(-1);
    }
  }
}

.container_home {
  max-width: 335px;
  max-height: 460px;

  @media screen and (min-width: 1440px) {
    max-width: 356px;
    max-height: 474px;
  }
}
