.section-shopping-list {
  margin-top: 64px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

.main-title-shoplist-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap-support {
  display: none;
}

.title-shoplist {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
  font-weight: 700;
  color: #111;
  margin-top: 40px;
  margin-left: 20px;
}

.acсent-shoplist {
  color: var(--violetColor);
}

.empty-list {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  text-align: center;
}

.empty-message {
  font-weight: 400;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.29;
  letter-spacing: -0.28px;
}

.shopping-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shoplist-item {
  position: relative;
  display: flex;
  max-width: 335px;
  height: 170px;
  padding: 14px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: #ffffff;
}

.delate-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: var(--violetColor);
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  transition: transform; /* ta linijka zostaje */
}

.delate-btn:hover,
.delate-btn:focus {
  transform: scale(1.2);
}


.img-shoplist-card {
  border-radius: 8px;
}

.card-shopplist {
  max-width: 193px;
  min-width: 100px;
}

.card-title-shoplist {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  max-width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-category-shoplist {
  font-size: 12px;
  font-weight: 400;
  color: var(--fontLightCategories);
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  max-width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-description-shoplist {
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.wrapper-card-shoplist-footer {
  max-width: 193px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card-author-shoplist {
  margin-right: auto;
  max-width: 97px;
  color: var(--fontLightCategories);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shops-list {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 80px;
  padding-bottom: 5px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: auto;
  stroke: var(--black);
}

.shops-list::-webkit-scrollbar {
  height: 6px;
}

.shops-list::-webkit-scrollbar-thumb {
  background-color: rgb(196, 190, 190);
}

.shop-item {
  background-color: transparent;
  filter: 0%;
}

.shop-item img:is(:hover, :focus) {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.shop-link-image {
  display: block;
  text-align: center;
}

.shop-link-image img {
  margin: 0;
  max-width: 35px;
  height: auto;
}

/* PAGINACJAAA*/

.container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.arrow-left {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
}

.arrow-right {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #eac645;
  cursor: pointer;
}

ul {
  margin-right: 14px;
  padding-left: 14px;
}

ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #111;
  cursor: pointer;
}

li:nth-child(3) {
  display: none;
}

ul li.active {
  color: #fff;
  background-color: #111;
}

.link {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.arrows-left-icon {
  fill: #b4afaf;
  margin-top: 4px;
}

.arrows-right-icon {
  fill: #111;
  margin-top: 4px;
}

.arrow-double-left {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #111;
  margin-right: 5px;
  cursor: pointer;
}
.arrow-double-left .fa {
  font-size: 22px;
  color: #b4afaf;
}

.arrow-double-right .fa {
  color: #111;
  font-size: 22px;
}

.arrow-double-right {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #eac645;
  margin-left: 5px;
  cursor: pointer;
}

/* +++++++++++ Tablet ++++++++++++ */

@media screen and (min-width: 768px) {
  .section-shopping-list {
    margin-top: 64px;
  }

  .title-shoplist {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .empty-list {
    margin-top: 140px;
    width: 349px;
  }

  .empty-message {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  .shopplist-item {
    max-width: 704px;
    height: 213px;
    padding: 24px;
    gap: 24px;
  }

  .delate-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
    background-color: var(--violetColor);
    border-radius: 34px;
  }

  .card-shopplist {
    max-width: 508px;
  }

  .card-title-shoplist {
    max-width: 450px;
  }

  .card-category-shoplist {
    margin-bottom: 14px;
    max-width: 450px;
  }

  .card-description-shoplist {
    margin-bottom: 32px;
    letter-spacing: -0.56px;
    min-width: 508px;
    max-height: 53px;
  }

  .wrapper-card-shoplist-footer {
    max-width: 508px;
  }

  .card-author-shoplist {
    max-width: 100%;
  }

  .shops-list {
    gap: 16px;
    max-width: 100%;
  }

  .shop-link-image img {
    max-width: 48px;
    max-height: 28px;
  }
}

/* +++++++++++ Desktop ++++++++++++ */

@media screen and (min-width: 1440px) {
  .section-shopping-list {
    margin-top: 75px;
  }

  .container-shopping-list {
    display: flex;
    justify-content: space-between;
  }

  .wrap-support {
    display: block;
  }

  .container-shoplist {
    width: 996px;
  }

  .shopplist-item {
    max-width: 996px;
  }

  .delate-btn {
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 34px;
  }

  .card-shopplist {
    max-width: 808px;
  }

  .card-title-shoplist {
    max-width: 760px;
  }

  .card-category-shoplist {
    max-width: 760px;
  }

  .card-description-shoplist {
    min-width: 808px;
  }

  .wrapper-card-shoplist-footer {
    max-width: 808px;
  }
}
